/* .jumbotron{
    background-image: url('../../asset/pict/jumbotron.jpg');
    background-size: cover;
    margin-top: -95px;
    height: 547px;
    width: 1488px;
} */

/* .jumbotron h1{
    font-family: Product Sans;
font-style: Bold;
font-size: 64px;
text-align: Left;
vertical-align: Top;
} */

.card-img-top{
    width: 328px;
    height: 100px;
    align-self: center;
    border-radius: 5px;
    left: 138px;
    top: 1485px;
}


.row-card{
    margin-top: -65px;
}

.card-info{
    width: 13rem;
}

.btn-top{
    width: 100px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    top: 23px;
}

.btn-warning{
    color: #FFFFFF;
}


.card{
    padding: 5px;
}

.groups {
    margin-top: 50px;
}

.groups h1{
    text-align: center;
}

.blockquote{
    margin-top: 50px;
    background-color: #FFAF00;
    color: #FFFFFF;
}

.card-title{
    margin-left: -15px;
}



