

.card-img-top{
    width: 328px;
    height: 100px;
    align-self: center;
    border-radius: 5px;
    left: 138px;
    top: 1485px;
}

.mr-5{
width: 100%;
}


.row-card{
    margin-top: -65px;
    width: 100%;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.card-info{
    width: 250px;
    height: 100%;
    padding: 5px;
}

.card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 50px;
    font-size: 14px;
}

.btn-top{
    width: 100px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    top: 23px;
}

.btn-warning{
    color: #FFFFFF;
}

.groups {
    margin-top: 50px;
}

.groups h1{
    text-align: center;
}

.blockquote{
    margin-top: 50px;
    background-color: #FFAF00;
    color: #FFFFFF;
}





